<html>
  <head>
    <title>Fever Metrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="icon" type="image/x-icon" href="favicon-32x32.png" />
  </head>
  <body>
    <% 
    function getLastMonday() {
      var t = new Date();
      t.setDate(t.getDate() - t.getDay() + 1);
      return t.toISOString().slice(0, 10);
    }
    function getThisSunday() {
      var t = new Date();
      t.setDate(t.getDate() - t.getDay() + 7);
      return t.toISOString().slice(0, 10);
    }
    %>
    <form action="/feverMetrics" method="get">
      <table id="date-form">
        <tr>
          <td>Show data from</td>
          <td>
            <input name="startDate" type="text" value="<%= startDate %>" />
          </td>
          <td>to</td>
          <td><input name="endDate" type="text" value="<%= endDate %>" /></td>
          <td><button type="submit">Go</button></td>
          <td><input type="button" onClick="location.href='/feverMetrics';" value="Today"></td>
          <td><input type="button" onClick="location.href='/feverMetrics?startDate=<%=getLastMonday()%>&amp;endDate=<%=getThisSunday()%>';" value="This Week"></td>
        </tr>
      </table>
    </form>
    <a href="/saveFeverMetrics?startDate=<%=startDate%>&endDate=<%=endDate%>">Download Excel metrics report</a> 
    <br />
    <br />
    <h1>Fever Survey Stats</h1>
    <table class="hor-zebra">
      <thead>
        <tr>
          <th><label title="How many made it past the welcome screen">Started Part 1</label></th>
          <th><label title="How many had eligible sypmtoms">Eligible</label></th>
          <th><label title="How many consented to participate">Consented</label></th>
          <th><label title="How many ordered a kit">Ordered Kit</label></th>
          <th><label title="How many started part 2 of app">Started Part 2</label></th>
          <th><label title="How many scanned/entered a barcode">Barcode Scanned</label></th>
          <th><label title="How many completed the questionnaire">Completed Questionnaire</label></th>
          <th><label title="How many completed test 1">Test 1 Complete</label></th>
          <th><label title="How many completed test 2">Test 2 Completed</label></th>
          <th><label title="How many returned the kit">Kit Returned</label></th>
        </tr>
      </thead>
      <tbody>
        <% surveyStatsData.forEach(function(row) { %>
        <tr class="odd">
          <td class="label"><%= row.total %></td>
          <td><%= row.eligible %></td>
          <td><%= row.consents %></td>
          <td><%= row.kits %></td>
          <td><%= row.part2%></td>
          <td><%= row.scanned %></td>
          <td><%= row.surveyscompleted %></td>
          <td><%= row.test1 %></td>
          <td><%= row.test2 %></td>
          <td><%= row.kitsreturned %></td>
        </tr>
        <%}); %>
        </tr>
      </tbody>
    </table>
  </body>
</html>
