<!--
Copyright (c) 2019 by Audere

Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file distributed with this file.
-->

<html>
  <head>
    <title>flu@home Metrics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="<%= static %>/css/metrics.css"/>
    <link rel="icon" type="image/x-icon" href="<%= static %>/favicon-32x32.png" />
  </head>
  <body>
    <%
    function getLastMonday() {
      var t = new Date();
      t.setDate(t.getDate() - t.getDay() + 1);
      return t.toISOString().slice(0, 10);
    }
    function getThisSunday() {
      var t = new Date();
      t.setDate(t.getDate() - t.getDay() + 7);
      return t.toISOString().slice(0, 10);
    }
    function getToday() {
      var t = new Date();
      t.setDate(t.getDate());
      return t.toISOString().slice(0, 10);
    }
    %>
    <form action="./feverMetrics" method="get">
      <table id="date-form">
        <tr>
          <td>Show data from</td>
          <td>
            <input name="startDate" type="text" value="<%= startDate %>" />
          </td>
          <td>to</td>
          <td><input name="endDate" type="text" value="<%= endDate %>" /></td>
          <td><button type="submit">Go</button></td>
          <td><input type="button" onClick="location.href='/portal/feverMetrics?startDate=<%=getToday()%>&amp;endDate=<%=getToday()%>';"value="Today"></td>
          <td><input type="button" onClick="location.href='/portal/feverMetrics?startDate=<%=getLastMonday()%>&amp;endDate=<%=getThisSunday()%>';" value="This Week"></td>
        </tr>
      </table>
    </form>
    <a href="./saveFeverMetrics?startDate=<%=startDate%>&endDate=<%=endDate%>">Download Excel metrics report</a>
    <br />
    <br />
    <h2>flu@home Stats by Age</h2>
    <table class="hor-zebra">
      <thead>
        <tr>
          <th><label title="Age of app user">Age</label></th>
          <th><label title="How many made it past the welcome screen">Started Part 1</label></th>
          <th><label title="How many had eligible sypmtoms">Eligible</label></th>
          <th><label title="How many consented to participate">Consented</label></th>
          <th><label title="How many ordered a kit">Ordered Kit</label></th>
          <th><label title="How many started part 2 of app">Started Part 2</label></th>
          <th><label title="How many scanned/entered a barcode">Barcode Scanned</label></th>
          <th><label title="How many completed the questionnaire">Completed Survey</label></th>
          <th><label title="How many completed test 1">Test 1 Complete</label></th>
          <th><label title="How many completed test 2">Test 2 Completed</label></th>
          <th><label title="How many made it to the last screen">Finished App</label></th>
          <th><label title="How many returned their kit">Kits Returned</label></th>
          <th><label title="How many messed up on test 1">Test 1 Errors</label></th>
          <th><label title="How many messed up on test 2">Test 2 Errors</label></th>
        </tr>
      </thead>
      <tbody>
        <% oddRow = true;
          surveyStatsData.forEach(function(row) {
           if (row.age === "Total") {
         %>
       <tr class="sum">
         <% } else if (oddRow) { %>
       <tr class="odd">
         <% } else { %>
       <tr>
         <% } %>
          <td><%= row.age %></td>
          <td><%= row.count %></td>
          <td><%= row.eligible %></td>
          <td><%= row.consents %></td>
          <td><%= row.kits %></td>
          <td><%= row.part2%></td>
          <td><%= row.scanned %></td>
          <td><%= row.surveyscompleted %></td>
          <td><%= row.test1 %></td>
          <td><%= row.test2 %></td>
          <td><%= row.finished %></td>
          <td><%= row.kitsreturned %></td>
          <td><%= row.test1errors %></td>
          <td><%= row.test2errors %></td>
        </tr>
        <% oddRow = !oddRow;
          }); %>
        </tr>
      </tbody>
    </table>
    <br />
    <h2>flu@home Stats by U.S. State</h2>
    <table class="hor-minimalist">
      <thead>
        <tr>
          <th>State</th>
          <th class="number">Count</th>
          <th class="number">%</th>
        </tr>
      </thead>
      <tbody>
        <% statesData.forEach(function(row) { %>
        <tr>
          <td><%= row.state %></td>
          <td class="number"><%= row.count %></td>
          <td class="number"><%= row.percent %>%</td>
        </tr>
        <% } ); %>
      </tbody>
    </table>
    <br />
    <h2>Last Screen Viewed for Users who Did Not Finish the App</h2>
    <table class="hor-minimalist">
      <thead>
        <tr>
          <th>Screen Key</th>
          <th class="number">Count</th>
          <th class="number">%</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        <% lastQuestionData.forEach(function(row) { %>
        <tr>
          <td><%= row.lastscreen %></td>
          <td class="number"><%= row.count %></td>
          <td class="number"><%= row.percent %>%</td>
          <td><%= row.detail %></td>
        </tr>
        <% } ); %>
      </tbody>
    </table>
  </body>
</html>
