<!--
Copyright (c) 2019 by Audere

Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file distributed with this file.
-->

<html>
  <head>
    <title>flu@home Firebase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="<%= static %>/css/metrics.css"/>
    <link rel="icon" type="image/x-icon" href="<%= static %>/favicon-fever.png" />
  </head>
  <body>
    <%
    function getLastMonday() {
      var t = new Date();
      t.setDate(t.getDate() - t.getDay() + 1);
      return t.toISOString().slice(0, 10);
    }
    function getThisSunday() {
      var t = new Date();
      t.setDate(t.getDate() - t.getDay() + 7);
      return t.toISOString().slice(0, 10);
    }
    function getToday() {
      var t = new Date();
      t.setDate(t.getDate());
      return t.toISOString().slice(0, 10);
    }
    %>
    <form action="./feverFirebase" method="get">
      <table id="date-form">
        <tr>
          <td>Show data from</td>
          <td>
            <input name="startDate" type="text" value="<%= startDate %>" />
          </td>
          <td>to</td>
          <td><input name="endDate" type="text" value="<%= endDate %>" /></td>
          <td><button type="submit">Go</button></td>
          <td><input type="button" onClick="location.href='/portal/feverFirebase?startDate=<%=getToday()%>&amp;endDate=<%=getToday()%>';"value="Today"></td>
          <td><input type="button" onClick="location.href='/portal/feverFirebase?startDate=<%=getLastMonday()%>&amp;endDate=<%=getThisSunday()%>';" value="This Week"></td>
        </tr>
        <tr>
          <td>Query</td>
          <td>
            <select name="queryName">
              <% queryList.forEach( (query) => { %>
                <% if (query == queryName) { %>
                  <option value="<%= query %>" selected><%= query %></option>
                <% } else { %>
                  <option value="<%= query %>"><%= query %></option>
                <% } %>
              <% }); %>
            </select>
          </td>
        </tr>
      </table>
    </form>
    <br />
    <br />
    <% if (queryName) { %>
      <h2>flu@home <%= queryName %></h2>
    <% } else { %>
      <h2>flu@home <%= queryList[0] %></h2>
    <% } %>
    <table class="hor-zebra">
      <thead>
        <tr>
          <% Object.keys(queryData[0]).forEach( (key) => { %>
            <th align="right"><%= key.replace(/_/g," ") %></th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% oddRow = true;
           queryData.forEach(function(row) {
           if (row[Object.keys(row)[0]] === "Total") {
         %>
       <tr class="sum">
         <% } else if (oddRow) { %>
       <tr class="odd">
         <% } else { %>
       <tr>
         <% } %>
         <% Object.keys(row).forEach( (key) => { %>
          <td><%= row[key] %></td>
         <% }); %>
        </tr>
        <% oddRow = !oddRow;
          }); %>
        </tr>
      </tbody>
  </body>
</html>
